.logo{
    width: 30px;
    margin-right: 15px;
}

.up-background-imgs{
    width: 100%;
    height: 850px;
    background-image: url(Photo/lastofusback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition-property:all;
    transition-duration: 1s;
}

img{
    transition-property:all;
    transition-duration: 1s;
}

.Titl-to-background{
    margin-left: 200px;
    margin-top: 200px;
    transition-property:all;
    margin: auto;
    margin-top: 200px !important;
    margin-left: 100px;
}

.TitleTextDown{
    width: 35%;
    min-width: 340px;
}


.logo-title{
    width: 25%;
}

.sony-logo{
    filter: invert(100%);
    width: 80px;
    float: right;
}

.header-down-img-nav{
    width: 280px;
    height: 160px;
    filter: invert(20%);
    transition-property:all;
    transition-duration: 0.3s;
}

.header-down-img-nav:hover{
    filter: invert(0%);
    box-shadow: 0px 10px 5px rgba(109, 109, 109, 0.548);
}

.ps-5-img{
    width: 850px;
    width: 100%;
}

.img-nav-products div{
    width: 70%;
    height: 70%;
}

.img-nav-products div img{
    width: 100%; /* or any custom size */
    height: 100%; 
    display: block;
    margin: auto;
    object-fit: contain;

}

.img-nav-products div{
    margin: auto;
    filter: invert(30%);
    transition-property:all;
    transition-duration: 0.3s;
    text-align: center;
}

.img-nav-products div:hover{
    filter: invert(0%);
}



.img-nav-products div p{
    color:black;
}

.bg-this-mounth{
    width: 100%;
    height: 500px;
    background-image: url(Photo/this-month-on-playstation-june-homepage-background-desktop-01-en-23may22.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.bg-main-this-mounth{
    width: 100%;
    height: 800px;
    background-color:#232652;
}

.big-month-nav{
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    transition-property:all;
    transition-duration: 0.3s;
}

.big-month-nav-main{
    height: 70%;
    width: 100%;
    margin: auto;

}

.eldenRing_logo{
    width: 100%;
}

.big-month-nav-main img:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.548);
}

.elden-ring-bg-and-another-games{
    width: 100%;
    height: 700px;
    background-image: url(Photo/elden-ring-hero-banner-desktop-01-en-24jan22.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main-elden-ring-bg-and-another-games{
    background-color: black;
    min-height: 1600px;
    font-family: ExtraLight ;
    font-weight: 200;
}

.many-img-games-nav{
    transition-property:all;
    transition-duration: 0.07s;
    height: 150px;
    width: 150px;
    margin-bottom: 100px;
}

.many-img-games-nav div{
    height: 100% !important;
    width: 100% !important;
}


.many-img-games-nav img{
    height: 100% !important;
    width: 100% !important;
    border-radius: 5px ;
    transition-property:all;
    transition-duration: 0.1s;
}

.many-img-games-nav:hover{
    filter: invert(0%);
    transform: scale(1.1);
    box-shadow: 0px 10px 5px rgba(44, 44, 44, 0.548);
}

.img-buy-ps-and-stuff-nav{
    transition-property:all;
    transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.white-bg{
    background-color: white ;
    height: 950px;
}

.white-bg-soller-one{
    background-color: white ;
    height: 670px;
}

.games-god-of-war-and-another{
    width: 100%;
    height: 700px;
    background-image: url(Photo/ps-plus-this-month-on-plus-background-desktop-en-02-25mar21.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.logoPsPlust{
    transition-property:all;
    transition-duration: 0.3s;
    width: 500px;
    height: 100px;
    display: block;
    object-fit: contain;
    margin-top: 100px;
    position: absolute;
}

.games-god-of-war-and-another-notback{
    width: 950px;
    height: 700px;
    object-fit: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    background-image: url(Photo/ps-plus-monthly-games-featured-image-block-01-24may22$en.webp);
    right: 0;
}

.psStoreLogo{
    transition-property:all;
    transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.container{
    display: block !important;
    position: relative;
}