.div{
    border: 0.1px solid rgba(0, 0, 0, 0);
}

/* div{
    border: 1px solid rgb(0, 0, 0);
} */

/* 
img{
    border: 1px solid yellow;
} */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Jost:wght@200&family=Tiro+Tamil&display=swap');

.top-header{
    background-color: black;
    height: 35px;
}

* {
    margin: 0;
    padding: 0;
}

.stiky-el{
    box-sizing: inherit;
    position:sticky;
    top: 0;
    display: block;
    z-index: 1000;
}

.div-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.grid_5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 80%;
}

.grid_6_2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}


.grid_6{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 80%;
}

.grid_6 div{
    height: 120px;
}

.grid_6 div img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.grid_2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid_3{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid_3 div{
    padding: 10px;
}

li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    display: inline-block;
    padding: 0px 10px;
}

.search-bar{
    width: 400px;
}


div{
    transition-property:all;
    transition-duration: 2s;
}

p{
    color: azure;
    font-weight: normal;
}

nav button{
    border: none;
    background: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

nav button:hover{
    color:rgb(51, 116, 255);
}

html {
    --dk-font: "sst",Arial,sans-serif;
    --dk-font-condensed: "sst condensed","sst",Arial,sans-serif;
    --dk-font-bebas-neue: "bebas neue","sst",Arial,sans-serif;
    --dk-font-mont: "Mont W05","sst",Arial,sans-serif;
}

.fs-8{
    font-size: 25px;
}


.fs-7{
    font-size: 35px;
}

.fs-60{
    font-size: 60px;

}

.fs-50{
    font-size: 50px;
}

.fs-40{
    font-size: 40px;
}

.fs-30{
    font-size: 20px;
}


.fs-5{
    font-size: 11px !important;
}



.butons-change-a-games-view{
    position: absolute;
    right: 200px;
}

.butons-change-a-games-view button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.forTextAtImg{
    position	: absolute;
	top		: 200px;
	left		: 0;
	width		: 100%;
}

.revers{
    transform: rotateY(180deg);
}

.up-nav{
    display: flex;
}

.up-nav div{
    margin-right: 30px;
}

.smoll_width{
    width: 80%;
}

.sehrSmollToHundru{
    width: 37%;
}

.text-ps-pluse{
    max-width: 700px;
    margin-left: 150px;
}

.text-ps-pluse div p{
    margin-top: 350px;
}

@media only screen and (max-width: 768px){
    .up-nav div{
        margin-right: 5px;
    }
}

@media (max-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    .up-nav{display: none;}
    .Titl-to-background{
        margin-left: 0px !important;
    }
    .TitleTextDown{
        width: 100% !important;
    }
    .grid_5 div img{
        width: 100%;
        height: 100%;
    }

    .grid_5{
        width:100%;
    }

    .fs-7{
        font-size: 20px;
    }
    .fs-8{
        font-size: 15px;
    }
    .fs-5{
        font-size: 15px !important;
    }
    .img-nav-products div p{
        font-size: 10px;
    }

    .img-nav-products div{
        height: 50% !important;
        width: 100% !important;
    }

    .smoll_width{
        width: 100%;
    }

    .big-month-nav-main{
        width: 90% !important;
        height: 50%  !important;
        padding: 0 !important;
    }

    .big-month-nav-main div p{
        font-size: 13px !important;
    }
    .big-month-nav-main div{
        min-width: 10px !important;
    }
    .big-month-nav-main img{
        width: 100% !important;
        height: 100%  !important;
    }

    .sehrSmollToHundru{
        width: 100%;
    }

    .fs-50{
        font-size: 30px !important;
    }

    .fs-30{
        font-size: 15px;
    }

    .eldenRing_logo{
        width: 20%;
    }

    .many-img-games-nav div{
        width: 50% !important;
        height: 10% !important;
    }

    .grid_6_2{
        grid-template-columns: auto auto auto;
    }



    .games-god-of-war-and-another
    {
        height: 800px !important;
    }

    .games-god-of-war-and-another-notback{
        background-image: url("Photo/ps-plus-monthly-games-image-block-01-09jun22$en.webp")  !important;
        vertical-align: middle !important;
        text-align: center !important;
        height:50% !important;
        width: 100% !important;
    }

    .logoPsPlust{
        vertical-align: middle !important;
        text-align: center !important;
        height: 8% !important;
        width: 100% !important;
    }

    .text-ps-pluse{
        margin-left: 0;
        margin-top: 400px;
    }

    .text-ps-pluse div p{
        margin-top: 180px;
    }

    .elden-ring-bg-and-another-games{
        background-image: url("Photo/elden-ring-hero-banner-mobile-01-en-24jan22.webp") !important;
    }

    .bg-this-mounth{
        background-image: url("Photo/this-month-on-playstation-june-homepage-background-mobile-01-en-23may22.webp") !important;
    }
    
    .fs-40{
        font-size: 20px;
    }

    .logo-title{
        width: 50% !important;
    }

    .butons-change-a-games-view{
        position: absolute;
        right: 30px;
    }

    .main-elden-ring-bg-and-another-games{
        min-height: 2000px !important;
    }
    
 }
  

@media only screen and (max-width: 412px){
    .up-nav{display: none;}
    .Titl-to-background{
        margin-left: 0px !important;
    }
    .TitleTextDown{
        width: 100% !important;
    }
    .grid_5{
        grid-template-columns: auto;
    }
    .big-month-nav-main img{
        width: 100% !important;
        height: 60%  !important;
    }

    .fs-50{
        font-size: 20px !important;
    }

    .fs-30{
        font-size: 13px;
    }

    .grid_2{
        grid-template-columns: auto ;
    }
    .logo-title{
        width: 100% !important;
    }

    .up-background-imgs{
        background-position: -1150px 0px !important;
    }

    
    .butons-change-a-games-view{
        position: absolute;
        right: 30px;
    }

    .many-img-games-nav{
        width: 100px !important;
        height: 100px !important;
    }


}

.rotate_to_normal{
    transform: rotate(180deg);
}